.container {
  width: 85%;
  margin: auto;
  max-width: 1098px; }

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.col-30 {
  flex-basis: 30%; }

.col-50 {
  flex-basis: 45%; }

*, *:before, *:after {
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 14px;
  background-color: #f7f4f2; }

body {
  font-family: 'Myriad Pro', sans-serif;
  font-weight: normal; }

img {
  max-width: 100%; }

.text--primary {
  color: #ff6600; }

.text--light {
  color: #ffffff; }

.text--dark {
  color: #000000; }

.text--small {
  color: #777777;
  font-size: 1rem; }

.text--big {
  display: block;
  font-size: 5.7rem;
  font-weight: bold; }

sup {
  color: #17bebb;
  font-size: 1.9rem;
  font-weight: normal;
  top: -2.5rem;
  margin-left: 2.5rem; }

div.invalid {
  color: tomato;
  position: absolute;
  bottom: 8.5rem;
  font-size: 0.9rem; }

input.invalid {
  border-bottom: 1px solid tomato; }

.section-title {
  margin: 0;
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 2rem; }
  .section-title--dark {
    color: #000000; }

.section-subtitle {
  color: #dddddd; }
  .section-subtitle--dark {
    color: #777777; }

.header {
  padding-top: 4rem;
  padding-bottom: 30rem;
  background: #000 url("../img/main-bg.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  color: #ffffff; }
  .header-thanks {
    height: 100vh; }
  .header__scroll-up {
    text-decoration: none;
    color: #ffffff;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 3rem 4rem;
    transform: rotate(180deg);
    border: 1px solid #ff6600;
    border-radius: 50%;
    padding: 1.3rem;
    background-color: #ff6600;
    z-index: 9999;
    transition: all 0.2s; }
    .header__scroll-up i:before {
      margin-left: 0; }
    .header__scroll-up:hover {
      background-color: transparent;
      color: #ff6600;
      border: 1px solid #ff6600; }
  .header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.2); }

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem; }

.logo {
  display: flex; }
  .logo__link {
    text-decoration: none;
    color: #dddddd;
    font-size: 1.3rem;
    margin-left: 1.57rem; }
  .logo--big {
    color: #ffffff;
    display: block;
    font-size: 2.9rem; }

.nav--hidden {
  display: none; }

.nav__item {
  text-decoration: none;
  color: #dddddd;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  transition: all 0.2s ease-in;
  border-bottom: 1px solid transparent; }
  .nav__item:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff; }

.nav__item:not(:last-child) {
  margin-right: 3.5rem; }

.burger {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer; }
  .burger--active .burger__item:nth-child(1) {
    transform: rotate(45deg) translate(8px, 14px); }
  .burger--active .burger__item:nth-child(2) {
    transform: rotate(45deg) translate(-1px, 5px);
    opacity: 0; }
  .burger--active .burger__item:nth-child(3) {
    transform: rotate(-45deg) translate(1px, -8px); }
  .burger__item {
    width: 25px;
    height: 3px;
    display: block;
    background-color: #ffffff;
    transition: all 0.3s; }

.hero {
  position: relative;
  padding-top: 2.78rem; }
  .hero__title {
    font-size: 5.8rem;
    max-width: 27rem;
    margin: 0;
    margin-bottom: 2.21rem;
    line-height: 1.1; }
  .hero__subtitle {
    max-width: 19rem;
    font-size: 2rem;
    color: #dddddd; }

.beauties {
  padding-bottom: 10rem;
  position: relative;
  margin-top: -15rem; }
  .beauties__section-heading {
    position: absolute;
    top: 91px;
    z-index: 3; }
  .beauties .swiper-button-prev, .beauties .swiper-button-next {
    top: calc(50% - 27px - 12px);
    background-color: #f7f4f2; }
  .beauties .swiper-button-prev {
    transform: rotate(180deg); }

.video {
  display: flex;
  margin: auto;
  min-height: 36.142rem;
  max-width: 69rem;
  position: relative; }
  .video a {
    position: relative; }
  .videos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10rem;
    position: relative; }
    .videos__info {
      flex-basis: 35%; }
    .videos__text {
      margin: 0;
      color: #000000;
      max-width: 22rem;
      font-size: 2.1rem;
      margin-bottom: 7rem; }
    .videos__all {
      font-size: 1.35rem;
      text-decoration: none;
      color: #000000; }
      .videos__all img {
        margin-left: 1.2rem; }
    .videos-wrap {
      flex-basis: 61%; }
  .video-item {
    position: relative;
    min-height: 12.28rem;
    max-width: 21.85rem;
    cursor: pointer; }
    .video-item:hover .video-item__images::before {
      display: flex; }
    .video-item:hover .video-item__text {
      color: #17bebb; }
    .video-item__images {
      position: relative; }
      .video-item__images::before {
        display: none;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba(23, 190, 187, 0.8); }
    .video-item__text {
      font-size: 1.1rem; }

.play {
  position: absolute;
  cursor: pointer;
  transition: all 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  border-radius: 50%;
  border: 1px solid transparent;
  z-index: 5; }
  .play:hover {
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 1rem;
    background-color: transparent; }

.swiper-pagination {
  position: relative;
  color: #000000;
  bottom: 2rem; }
  .swiper-pagination-current {
    font-size: 2rem;
    margin-right: 2.8rem; }
    .swiper-pagination-current::before {
      content: '0'; }
  .swiper-pagination-total {
    color: #777777;
    margin-left: 1rem; }
    .swiper-pagination-total::before {
      content: '0'; }

.swiper-slide {
  padding-left: 1.5rem;
  padding-right: 1rem; }

.swiper-button-prev, .swiper-button-next {
  top: 5.5rem;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  padding: 1rem;
  background-color: #fff; }
  .swiper-button-prev::after, .swiper-button-next::after {
    display: none; }

.swiper-button-prev {
  left: -2%;
  background: #ffffff url("../img/next.svg") no-repeat center; }

.swiper-button-next {
  right: -2%;
  background: #ffffff url("../img/next.svg") no-repeat center; }

.impressions {
  padding: 10rem 0;
  background-color: #ffffff; }
  .impressions__section-heading {
    text-align: center;
    margin-bottom: 7rem; }

.persons-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto; }

.person__image {
  display: inline-block;
  position: relative;
  align-items: flex-end;
  margin-bottom: 3.3rem;
  margin-left: -2rem;
  z-index: 2; }
  .person__image::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -1rem;
    width: 48px;
    height: 48px;
    background: #ffffff url("../img/icon-person.png") no-repeat center;
    z-index: -1; }

.person__name {
  margin: 0;
  margin-bottom: 1.6rem;
  font-size: 1.3rem; }

.person__text {
  max-width: 11.78rem;
  color: #777777;
  line-height: 1.8; }

.about {
  padding: 7rem 0;
  background-color: #f7f4f2; }
  .about-wrap {
    display: flex; }
  .about-slider-wrap {
    position: relative;
    flex-basis: 60%;
    margin-left: -5rem; }
  .about .swiper-pagination {
    bottom: 11%;
    left: -28%; }
  .about .swiper-slide {
    padding-bottom: 5rem;
    width: 702px; }
    .about .swiper-slide img {
      max-width: none; }
  .about .swiper-button-prev, .about .swiper-button-next {
    top: calc(50% - 27px - 2.5rem);
    z-index: 999;
    background-color: #f7f4f2; }
  .about .swiper-button-prev {
    left: -3%;
    transform: rotate(180deg); }
  .about .swiper-button-next {
    right: -3%; }
  .about__title {
    margin: 0;
    font-size: 2.7rem;
    max-width: 14.28rem;
    margin-bottom: 6.9rem;
    line-height: 1.25; }
  .about__subtitle {
    display: block;
    font-size: 2rem;
    margin-bottom: 2.5rem; }
  .about__text {
    margin: 0;
    max-width: 21.71rem;
    font-size: 1.3rem;
    line-height: 1.5; }
    .about__text span {
      display: block;
      margin-top: 1.7rem; }

.footer {
  position: relative;
  background: #222222 url("../img/footer-bg.jpg") no-repeat center/cover;
  color: #ffffff; }

.auto {
  padding: 10rem 0; }
  .auto-wrap {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .auto-wrap::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -5rem;
      left: 0;
      background-color: rgba(68, 68, 68, 0.5); }
  .auto-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -7rem; }
  .auto__section-title {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 5rem;
    line-height: 1.4; }
  .auto-settings {
    display: flex;
    flex-direction: column; }

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 18rem; }
  .icons__text {
    font-size: 1.8rem; }

.complect {
  color: #777777;
  max-width: 17.85rem;
  line-height: 1.75; }
  .complect__title {
    color: #ffffff;
    font-weight: normal;
    font-size: 1.2rem;
    margin-top: 2.8rem; }

.feature {
  flex-basis: 40%;
  justify-items: flex-end; }
  .feature:nth-child(1) .feature__title::after {
    content: '+';
    font-weight: normal;
    font-size: 2rem;
    color: #777777;
    margin-left: -1.3rem; }
  .feature__title {
    margin: 0;
    font-size: 5.9rem;
    margin-bottom: 1rem; }
  .feature__info {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.5; }
  .feature__text {
    margin: 0;
    max-width: 14.5rem;
    line-height: 1.5;
    margin-top: 2rem;
    font-size: 1.35rem; }

.tune {
  background: transparent url("../img/tune-bg.png") no-repeat center/cover;
  align-self: flex-start;
  width: 233px;
  height: 207px;
  margin-bottom: 3.21rem;
  text-align: right; }
  .tune:nth-child(2) {
    background: transparent url("../img/tune-bg-2.png") no-repeat center/cover; }
  .tune-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .tune__name {
    max-width: 2rem;
    font-weight: normal;
    line-height: 1.5;
    margin-left: 3rem; }
  .tune__img {
    margin-right: 3rem; }
  .tune__info {
    display: block;
    font-size: 3rem;
    margin-right: 2.8rem;
    margin-top: 1rem; }
  .tune__subtitle {
    margin-right: 2.8rem;
    color: #777777; }

.order-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.order-item {
  flex-basis: 28%; }

.order__section-heading {
  max-width: 14.14rem;
  line-height: 1.4; }

.order__form {
  display: flex;
  flex-direction: column;
  position: relative; }

.select {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #444444;
  padding: 1.5rem 2rem;
  display: block;
  font-size: 1.7rem;
  border-radius: 3px;
  margin-bottom: 1.5rem; }
  .select__discount {
    font-size: 0.7rem; }

.new-select {
  position: relative;
  padding: 10px 7px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center; }
  .new-select::before {
    content: '-20%';
    position: absolute;
    color: #777777;
    right: 20%;
    font-size: 1.2rem; }
  .new-select:after {
    content: '';
    display: block;
    width: 15px;
    height: 8px;
    position: absolute;
    right: -10px;
    top: 18px;
    background: url("../img/select-arrow.svg") no-repeat right center/cover;
    opacity: 0.6;
    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #222;
  user-select: none; }
  .new-select__list.on {
    display: block; }

.new-select__item {
  display: flex;
  align-items: center;
  border: 1px solid #444; }
  .new-select__item::before {
    position: absolute;
    color: #777777;
    right: 7rem;
    font-size: 0.9rem; }
  .new-select__item:nth-child(1)::before {
    content: '-20%'; }
  .new-select__item:nth-child(2)::before {
    content: '-20%'; }
  .new-select__item:nth-child(3)::before {
    content: '-20%'; }
  .new-select__item:nth-child(4)::before {
    content: '-20%'; }
  .new-select__item span {
    display: block;
    padding: 10px 15px; }
    .new-select__item span:hover {
      color: #cccccc; }

.input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 2px solid #444;
  padding: 0.6rem 0;
  font-size: 1.33rem; }
  .input::placeholder {
    color: #cccccc; }

.button {
  background-color: #ff6600;
  border: none;
  color: #ffffff;
  padding: 1.3rem 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.3rem; }
  .button:hover {
    background-color: #b34700; }
  .button-thanks {
    display: inline-block;
    text-decoration: none;
    margin-top: 3rem;
    padding: 1rem 2rem;
    border-radius: 20px; }

.promo {
  color: #777777;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.1rem; }
  .promo:hover {
    color: #aaaaaa; }

.form__input, .form__select {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  position: relative; }

.form__input {
  margin-bottom: 3.4rem; }

.form__button {
  margin-bottom: 1.5rem; }

.price__new {
  font-size: 6rem; }

.price--sup {
  color: #777777;
  top: -2.9rem;
  margin-left: -1%; }

.price__old {
  color: #17bebb;
  display: block;
  text-decoration: line-through;
  font-size: 1.9rem; }

.contacts {
  padding-top: 10rem;
  padding-bottom: 3rem; }
  .contacts-wrap {
    display: flex; }
  .contacts-item {
    flex-basis: 25%; }
  .contacts-slider {
    flex-basis: 50%;
    position: relative; }
  .contacts .swiper-slide {
    flex-basis: 100%;
    min-height: 190px;
    padding: 0 0;
    position: relative; }
    .contacts .swiper-slide__title {
      font-weight: normal;
      font-size: 1.4rem;
      max-width: 25rem;
      line-height: 1.5; }
    .contacts .swiper-slide__text {
      color: #777777;
      max-width: 18rem; }
    .contacts .swiper-slide__title, .contacts .swiper-slide__text {
      padding-left: 3rem; }
    .contacts .swiper-slide__img {
      position: absolute; }
  .contacts .swiper-pagination {
    max-width: 100%;
    padding-left: 3rem; }
    .contacts .swiper-pagination-current {
      margin-left: 2rem; }
    .contacts .swiper-pagination-total {
      margin-right: 1rem; }
  .contacts .swiper-button-prev {
    background: transparent url("../img/icon-prev-contact.svg") no-repeat center;
    padding: 0;
    left: 75%;
    top: 68%;
    transition: all 0.2s; }
    .contacts .swiper-button-prev:hover {
      transform: rotate(180deg);
      background-image: url("../img/icon-next-hover.svg"); }
  .contacts .swiper-button-next {
    background: transparent url("../img/icon-prev-contact.svg") no-repeat center;
    padding: 0;
    transform: rotate(180deg);
    right: 7%;
    top: 68%; }
    .contacts .swiper-button-next:hover {
      transform: none;
      background-image: url("../img/icon-next-hover.svg"); }
  .contacts .swiper-pagination {
    position: absolute;
    top: 2.5rem;
    left: 30%;
    color: #777777; }
    .contacts .swiper-pagination-current {
      color: #ffffff; }

.requisites__title {
  margin: 0;
  font-weight: normal;
  font-size: 1.4rem;
  margin-bottom: 2rem; }

.requisites__text {
  line-height: 2;
  color: #777777;
  font-size: 1.2rem; }

.requisites__link {
  display: block;
  color: #777777;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  transition: all 0.2s; }
  .requisites__link:hover {
    color: #17bebb;
    text-decoration: underline; }

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem; }
  .social__links {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .social__link {
    border: 1px solid #777777;
    color: #777777;
    border-radius: 50px;
    text-decoration: none;
    padding: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    width: 53px;
    height: 53px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .social__link:hover {
      color: #17bebb;
      border-color: #17bebb; }
  .social__copyright {
    color: #444444;
    margin-right: 6%; }

.flaticon-vk::before, .flaticon-null::before, .flaticon-whatsapp::before, .flaticon-mail::before {
  margin-left: -1%; }

@media screen and (min-width: 1400px) {
  .contacts .swiper-pagination {
    padding-right: 3rem; }
  .contacts .swiper-button-prev {
    left: 67%; }
  .contacts .swiper-button-next {
    right: 18%; } }

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px; }
  .beauties .swiper-button-prev, .beauties .swiper-button-next {
    top: calc(50% - 42px); }
  .about .swiper-slide img {
    max-width: 100%; }
  .contacts-slider {
    flex-basis: 52%; }
  .contacts .swiper-pagination {
    padding-left: 0; }
    .contacts .swiper-pagination-current {
      font-size: 2rem;
      margin-right: -2rem;
      margin-left: 1rem; }
  .contacts .swiper-button-prev, .contacts .swiper-button-next {
    top: 60%; } }

@media screen and (max-width: 1096px) {
  .beauties .swiper-button-prev, .beauties .swiper-button-next {
    top: calc(50% - 35px); }
  .price__new {
    font-size: 5rem; }
  .price--sup {
    font-size: 1.3rem; } }

@media screen and (max-width: 992px) {
  .header__scroll-up:hover {
    background-color: #ff6600;
    color: #ffffff;
    border-color: #ff6600; }
  .logo__link {
    margin-left: 0; }
  .logo__image {
    display: none; }
  .logo--big {
    font-size: 2rem; }
  .nav__item:not(:last-child) {
    margin-right: 1rem; }
  .nav__item {
    border: 0; }
    .nav__item:hover {
      color: #ddd;
      border: 0; }
  .hero__title {
    font-size: 4.2rem; }
  .play:hover {
    border: none;
    padding: 0;
    background-color: #ffffff; }
  .video {
    min-height: auto; }
    .video-item:hover .video-item__images::before {
      display: none; }
    .video-item:hover .video-item__text {
      color: #000; }
    .videos {
      flex-wrap: wrap; }
      .videos__info {
        text-align: center;
        margin-bottom: 2rem;
        flex-basis: 100%; }
      .videos-wrap {
        flex-basis: 84%; }
      .videos__text {
        margin: auto;
        margin-bottom: 2rem; }
  .beauties {
    padding-bottom: 2rem; }
  .impressions {
    padding: 2rem 0; }
  .persons-wrap {
    flex-wrap: wrap;
    padding-left: 0; }
  .person {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 3rem; }
    .person__image {
      margin-left: 0;
      margin-bottom: 2rem; }
    .person__name {
      margin-bottom: 1.5rem; }
    .person__text {
      margin: auto;
      max-width: 20rem; }
  .about {
    padding: 2rem 0; }
    .about-wrap {
      flex-wrap: wrap; }
    .about .swiper-pagination {
      bottom: 1rem; }
    .about .swiper-slide {
      max-width: none; }
    .about-slider-wrap {
      margin-bottom: 2rem;
      align-self: flex-start;
      flex-basis: 80%;
      margin-left: 0; }
    .about__info {
      flex-basis: 100%; }
    .about__title {
      font-size: 2rem;
      margin-bottom: 2rem; }
    .about__subtitle {
      font-size: 1.8rem;
      margin-bottom: 2rem; }
    .about__text {
      width: auto; }
  .auto-settings {
    flex-direction: row; }
  .auto-wrap {
    flex-direction: column; }
  .auto-features {
    margin-top: 2rem; }
  .feature {
    flex-basis: 50%;
    margin-bottom: 4rem; }
  .icons {
    max-width: 18rem; }
  .tune {
    margin-right: 5rem; }
  .order-wrap {
    flex-wrap: wrap; }
  .order__section-heading {
    flex-basis: 100%;
    margin: auto;
    max-width: none;
    text-align: center;
    margin-bottom: 3rem; }
  .order__form, .order__price {
    flex-basis: 40%; }
  .contacts-item {
    order: 4;
    margin: auto;
    text-align: center;
    flex-basis: 50%; }
  .contacts-wrap {
    flex-wrap: wrap; }
  .contacts-slider {
    flex-basis: 535px;
    margin-bottom: 3rem; }
  .requisites__link:hover {
    color: #777777;
    text-decoration: none; }
  .button:hover {
    background-color: #ff6600; }
  .promo:hover {
    color: #777777; }
  .swiper-slide {
    max-width: 535px; }
  .contacts .swiper-slide__text {
    margin-bottom: 0; }
  .contacts .swiper-button-prev:hover {
    transform: none;
    background-image: url("../img/icon-prev-contact.svg"); }
  .contacts .swiper-button-next:hover {
    transform: rotate(180deg);
    background-image: url("../img/icon-prev-contact.svg"); }
  .social__link:hover {
    color: #777777;
    border-color: #777777; } }

@media screen and (max-width: 767px) {
  .header {
    padding-top: 3rem;
    height: 100vh; }
    .header__scroll-up {
      margin: 2rem 3rem;
      padding: 0.9rem; }
  .menu {
    flex-direction: column;
    align-items: flex-start; }
  .nav {
    order: 3;
    margin-top: 3.5rem;
    position: absolute;
    top: 2rem; }
    .nav__item {
      display: block;
      color: #ffffff;
      transition: all 0.3s;
      font-size: 1.5rem; }
  .burger {
    display: flex;
    align-self: flex-end;
    margin-top: -3rem; }
  .hero {
    padding-left: 0;
    margin-top: 16rem; }
    .hero__title {
      font-size: 3rem;
      line-height: normal; }
    .hero__subtitle {
      font-size: 1.5rem; }
  .section-heading {
    position: static;
    text-align: center;
    margin-bottom: 2rem; }
  .beauties {
    padding-left: 0;
    padding-top: 3rem; }
    .beauties-wrap {
      position: static;
      margin-top: 0;
      color: #000000;
      margin-left: 0;
      left: 0; }
    .beauties__videos {
      padding-top: 3rem; }
    .beauties .swiper-button-prev, .beauties .swiper-button-next {
      top: calc(50% - 27px); }
  .video-item {
    margin: auto; }
  .videos-wrap {
    max-width: 24rem; }
  .play {
    width: 30px;
    height: 30px; }
  .swiper-button-prev, .swiper-button-next {
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border-radius: 50%; }
  .about .swiper-button-prev, .about .swiper-button-next {
    top: calc(50% - 45px); }
  .about .swiper-button-prev {
    left: 1%; }
  .about .swiper-button-next {
    right: 1%; }
  .about-slider-wrap {
    flex-basis: 100%; }
  .about__info {
    padding-left: 0;
    margin-left: 0; }
  .auto {
    padding-left: 0;
    padding-top: 3rem; }
    .auto-settings {
      flex-direction: column;
      justify-content: center; }
  .tune {
    align-self: center;
    margin-right: 0; }
  .feature {
    text-align: center; }
    .feature__text, .feature__icons {
      margin-left: auto;
      margin-right: auto; }
  .complect {
    margin-left: auto;
    margin-right: auto; }
  .order {
    padding-left: 0; }
  .contacts {
    padding-left: 0; }
    .contacts-item {
      flex-basis: 50%; } }

@media screen and (max-width: 576px) {
  .contacts {
    padding-top: 5rem; }
    .contacts-slider {
      display: none; }
    .contacts-item {
      align-self: flex-start;
      margin: 0; }
  .order__form, .order__price {
    flex-basis: 100%; }
  .order__form {
    order: 4; }
  .order__price {
    margin-bottom: 2rem;
    text-align: center; }
  .social {
    flex-wrap: wrap;
    margin-top: 3rem; }
    .social__links {
      flex-basis: 100%;
      justify-content: center;
      margin-bottom: 2rem; }
    .social__copyright {
      margin: auto; } }

@media screen and (max-width: 480px) {
  .menu {
    margin-left: 2rem;
    margin-right: 2rem; }
  .person {
    flex-basis: 100%; }
  .swiper-button-prev, .swiper-button-next {
    top: calc(50% - 20px); }
  .about .swiper-button-prev, .about .swiper-button-next {
    top: calc(50% - 40px); }
  .about__title {
    max-width: none;
    font-size: 1.8rem; }
  .about__subtitle {
    font-size: 1.5rem; }
  .about__text {
    font-size: 1.2rem; }
  .feature {
    flex-basis: 100%; }
  .price--sup {
    margin-left: 0rem; }
  .contacts-wrap {
    flex-wrap: wrap; }
  .contacts-item {
    flex-basis: 100%;
    margin-bottom: 2rem; }
  .requisites__title {
    margin-bottom: 1rem; } }
